# Ignorar arquivos do motor gráfico
.godot/
*.import
# Executáveis compilados
*.exe
*.out
*.app
*.bin

# Arquivos de objetos e bibliotecas intermediárias
*.o
*.obj
*.so
*.dylib
*.dll
*.a
*.lib

# Diretórios de build comuns (CMake, Make, IDEs)
build/
bin/
obj/
out/
cmake-build-*/
.cache/

# Arquivos de configurações de IDEs e editores
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Arquivos de teste e cobertura (se usar)
*.gcno
*.gcda
*.gcov
